html,
body {
    height: 100%;
    background-color: rgba(215, 243, 242, 0.37);
}

h1 {
    text-align: center;
}

form {
    margin: auto;
    width: fit-content;
}

fieldset {
    margin-top: 2%;
}

button {
    transform: translate(-50%);
    border: 2px dotted rgb(15, 14, 13);
    background-color: rgb(181, 235, 233);
    border-radius: 10px;
    margin-top: 2%;
    padding: 2%;
    position: relative;
    left: 50%;
}

button:hover {
    color: beige;
    transform: translate(-50%);
}